
@font-face {
  font-family: Star;
  src: url("STJEDISE.TTF");
}


body {
  font-size: 150%;
  color: #e3e4e5;
  align: center;
  background-image: url('images/starwarsback.jpg');
/*  background-image: linear-gradient(90deg, #969ea1, #ffffff); */
  font-family: Star;
}
